
ANTLR/.idea/workspace.xml
ANTLR/EulerCompiler/out/*
ANTLR/out/*
*.class
ANTLR/.idea/workspace.xml
ANTLR/EulerLanguage/src/kurt.txt
ANTLR/out/production/ANTLR/kurt.txt
ANTLR/EulerLanguage/src/kurt.txt
